interactions:
- request:
    body: ''
    headers:
    method: GET
    uri: https://e-processos.camarauberlandia.mg.gov.br/@@comissoes/22
  response:
    body:
      string: "{\n   \"@id\": \"https://e-processos.camarauberlandia.mg.gov.br/@@comissoes/22\",\n
        \  \"@type\": \"Comissao\",\n   \"description\": \"CE\",\n   \"id\": \"22\",\n
        \  \"items\": [\n      {\n         \"@id\": \"https://e-processos.camarauberlandia.mg.gov.br/@@vereadores/546914\",\n
        \        \"@type\": \"ParticipanteComissao\",\n         \"cargo\": \"ad hoc\",\n
        \        \"description\": \"Abatenio de Andrade Marquez Neto\",\n         \"id\":
        \"546914\",\n         \"image\": [\n            {\n               \"content-type\":
        \"image/png\",\n               \"download\": \"https://e-processos.camarauberlandia.mg.gov.br/sapl_documentos/parlamentar/fotos/546914_foto_parlamentar\",\n
        \              \"filename\": \"546914_foto_parlamentar\",\n               \"height\":
        350,\n               \"size\": 221654,\n               \"width\": 350\n            }\n
        \        ],\n         \"mandato\": \"Suplente\",\n         \"ordem\": 6,\n
        \        \"partido\": [\n            {\n               \"title\": \"PROGRESSISTAS\",\n
        \              \"token\": \"PP\"\n            }\n         ],\n         \"title\":
        \"Abatenio Marquez\",\n         \"url_foto\": \"https://e-processos.camarauberlandia.mg.gov.br/sapl_documentos/parlamentar/fotos/546914_foto_parlamentar\"\n
        \     },\n      {\n         \"@id\": \"https://e-processos.camarauberlandia.mg.gov.br/@@vereadores/25988\",\n
        \        \"@type\": \"ParticipanteComissao\",\n         \"cargo\": \"ad hoc\",\n
        \        \"description\": \"Adriano Zago\",\n         \"id\": \"25988\",\n
        \        \"image\": [\n            {\n               \"content-type\": \"image/png\",\n
  [...]
