interactions:
- request:
    body: ''
    headers:
    method: GET
    uri: https://e-processos.camarauberlandia.mg.gov.br/@@comissoes
  response:
    body:
      string: "{\n   \"@id\": \"https://e-processos.camarauberlandia.mg.gov.br/@@comissoes\",\n
        \  \"@type\": \"Comissoes\",\n   \"description\": \"Lista de comiss\xF5es\",\n
        \  \"items\": [\n      {\n         \"@id\": \"https://e-processos.camarauberlandia.mg.gov.br/@@comissoes/22\",\n
        \        \"@type\": \"Comissao\",\n         \"description\": \"CE\",\n         \"id\":
        \"22\",\n         \"tipo\": \"Permanente\",\n         \"title\": \"Comiss\xE3o
        Especial\"\n      },\n      {\n         \"@id\": \"https://e-processos.camarauberlandia.mg.gov.br/@@comissoes/16\",\n
        \        \"@type\": \"Comissao\",\n         \"description\": \"CMPP\",\n         \"id\":
        \"16\",\n         \"tipo\": \"Permanente\",\n         \"title\": \"Comiss\xE3o
        Mista de Participa\xE7\xE3o Popular\"\n      },\n      {\n         \"@id\":
        \"https://e-processos.camarauberlandia.mg.gov.br/@@comissoes/29\",\n         \"@typ[...]
