interactions:
- request:
    body: ''
    headers:
    method: GET
    uri: https://e-processos.camarauberlandia.mg.gov.br/@@sessoes/tipo/1/ano/2025
  response:
    body:
      string: "{\n   \"@id\": \"https://e-processos.camarauberlandia.mg.gov.br/@@sessoes\",\n
        \  \"@type\": \"SessoesPlenarias\",\n   \"description\": \"Lista de reuni\xF5es
        plen\xE1rias\",\n   \"items\": [\n      {\n         \"@id\": \"https://e-processos.camarauberlandia.mg.gov.br/@@sessoes/id/1636\",\n
        \        \"@id_presenca\": \"https://e-processos.camarauberlandia.mg.gov.br/@@sessoes/id/1636/presenca\",\n
        \        \"@id_votacao\": \"https://e-processos.camarauberlandia.mg.gov.br/@@sessoes/id/1636/votacao\",\n
        \        \"@type\": \"SessaoPlenaria\",\n         \"ata\": [\n            {\n
        \              \"content-type\": \"application/pdf\",\n               \"download\":
        \"https://e-processos.camarauberlandia.mg.gov.br/sapl_documentos/ata_sessao/1636_ata_sessao.pdf\",\n
        \              \"filename\": \"1636_ata_sessao.pdf\",\n               \"size\":
        \"\"\n            }\n         ],\n         \"date\": \"2025-12-12\",\n         \"description\":
        \"12/12/2025 09:00\",\n         \"endTime\": \"\",\n         \"id\": \"1636\",\n
        \        \"pauta\": [\n            {\n               \"content-type\": \"application/pdf\",\n
        \              \"download\": \"https://e-processos.camarauberlandia.mg.gov.br/sapl_documentos/pauta_sessao/1636_pauta_sessao.pdf\",\n
        \              \"filename\": \"1636_pauta_sessao.pdf\",\n               \"size\":
        \"\"\n            }\n         ],\n         \"startTime\": \"09:00\",\n         \"title\":
        \"10\xAA Reuni\xE3o Ordin\xE1ria\",\n         \"type\": \"Ordin\xE1ria\",\n
        \        \"type_id\": 1\n      },\n      {\n         \"@id\": \"https://e-processos.camarauberlandia.mg.gov.br/@@sessoes/id/1635\",\n
        \        \"@id_presenca\": \"https://e-processos.camarauberlandia.mg.gov.br/@@sessoes/id/1635/presenca\",\n
        \        \"@id_votacao\": \"https://e-processos.camarauberlandia.mg.gov.br/@@sessoes/id/1635/votacao\",\n
        \        \"@type\": \"SessaoPlenaria\",\n         \"ata\": [\n            {\n
        \              \"content-type\": \"application/pdf\",\n        [...]
