interactions:
- request:
    body: ''
    headers:
    method: GET
    uri: https://e-processos.camarauberlandia.mg.gov.br/@@sessoes/id/1636
  response:
    body:
      string: "{\n   \"@id\": \"https://e-processos.camarauberlandia.mg.gov.br/@@sessoes/id/1636\",\n
        \  \"@id_presenca\": \"https://e-processos.camarauberlandia.mg.gov.br/@@sessoes/id/1636/presenca\",\n
        \  \"@id_votacao\": \"https://e-processos.camarauberlandia.mg.gov.br/@@sessoes/id/1636/votacao\",\n
        \  \"@type\": \"SessaoPlenaria\",\n   \"ata\": [\n      {\n         \"content-type\":
        \"application/pdf\",\n         \"download\": \"https://e-processos.camarauberlandia.mg.gov.br/sapl_documentos/ata_sessao/1636_ata_sessao.pdf\",\n
        \        \"filename\": \"1636_ata_sessao.pdf\",\n         \"size\": \"\"\n
        \     }\n   ],\n   \"date\": \"2025-12-12\",\n   \"description\": \"10\xAA
        Reuni\xE3o Ordin\xE1ria - 12/12/2025\",\n   \"endTime\": \"\",\n   \"id\":
        \"1636\",\n   \"pauta\": [\n      {\n         \"content-type\": \"application/pdf\",\n
        \        \"download\": \"https://e-processos.camarauberlandia.mg.gov.br/sapl_documentos/pauta_sessao/1636_pauta_sessao.pdf\",\n
        \        \"filename\": \"1636_pauta_sessao.pdf\",\n         \"size\": \"\"\n
        \     }\n   ],\n   \"startTime\": \"09:00\",\n   \"title\": \"10\xAA Reuni\xE3o
        Ordin\xE1ria\",\n   \"type\": \"Ordin\xE1ria\",\n   \"type_id\": 1\n}"
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: ''
    headers:
    method: GET
    uri: https://e-processos.camarauberlandia.mg.gov.br/@@sessoes/id/1636/presenca
  response:
    body:
      string: "{\n   \"@id\": \"https://e-processos.camarauberlandia.mg.gov.br/@@sessoes/id/1636/presenca\",\n
        \  \"@type\": \"presencaSessao\",\n   \"chamadaRegimental\": [\n      {\n
        \        \"ausentes\": [],\n         \"ausentes_qtde\": \"0\",\n         \"justificados\":
        [],\n         \"justificados_qtde\": \"0\",\n         \"presentes\": [],\n
        \        \"presentes_qtde\": \"0\"\n      }\n   ],\n   \"description\": \"10\xAA
        Reuni\xE3o Ordin\xE1ria - 12/12/2025\",\n   \"ordemDia\": [\n      {\n         \"ausentes\":
        [],\n         \"ausentes_qtde\": \"0\",\n         \"justificados\": [],\n
        \        \"justificados_qtde\": \"0\",\n         \"presentes\": [],\n         \"presentes_qtde\":
        \"0\"\n      }\n   ],\n   \"title\": \"Listas de presen\xE7a na reuni\xE3o
        plen\xE1ria\"\n}"
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: ''
    headers:
    method: GET
    uri: https://e-processos.camarauberlandia.mg.gov.br/@@sessoes/id/1636/votacao
  response:
    body:
      string: "{\n   \"@id\": \"https://e-processos.camarauberlandia.mg.gov.br/@@sessoes/id/1636/votacao\",\n
        \  \"@type\": \"votacaoNominal\",\n   \"description\": \"10\xAA Reuni\xE3o
        Ordin\xE1ria \u2013 12/12/2025\",\n   \"items\": [\n      {\n         \"@id\":
        \"https://e-processos.camarauberlandia.mg.gov.br/@@materias/236202\",\n         \"@type\":
        \"Materia\",\n         \"abstencao\": 0,\n         \"apuracao\": [\n            {\n
        \              \"resultado\": \"Aprovado em 1\xAA Discuss\xE3o\"\n            }\n
        \        ],\n         \"ausente\": 3,\n         \"autoria\": [\n            {\n
        \              \"description\": \"Externo\",\n               \"id\": \"434780\",\n
        \              \"primeiro_autor\": true,\n               \"title\": \"Prefeito
        Municipal\"\n            }\n         ],\n         \"contrario\": 0,\n         \"description\":
        \"DISP\xD5E SOBRE O PARCELAMENTO DO SOLO URBANO DO MUNIC\xCDPIO DE UBERL\xC2NDIA
        E SEUS DISTRITOS E D\xC1 OUTRAS PROVID\xCANCIAS\",\n         \"favoravel\":
        23,\n         \"id\": \"236202\",\n         \"presidencia\": 1,\n         \"quorum\":
        \"Maioria absoluta\",\n         \"tipo_votacao\": \"Nominal\",\n         \"title\":
        \"Projeto de Lei Complementar n\xBA 46/2025\",\n         \"turno\": \"1\xAA
        Discuss\xE3o\",\n         \"votos\": [\n            {\n               \"abstencao\":
        [],\n               \"ausente\": [\n                  {\n                     \"@id\":
        \"https://e-processos.camarauberlandia.mg.gov.br/@@vereadores/399041\",\n
        \                    \"@type\": \"Vereador\",\n                     \"description\":
        \"Ant\xF4nio Carrijo\",\n                     \"id\": \"399041\",\n                     \"partido\":
        [\n                        {\n                           \"title\": \"PROGRESSISTAS\",\n
        \                          \"token\": \"PP\"\n                        }\n
        \                    ],\n                     \"title\": \"Ant\xF4nio Carrijo\",\n
        \                    \"votacao_id\": \"80369\",\n                     \"voto\":
        \"Ausente\"\n                  },\n                  {\n                     \"@id\":
        \"https://e-processos.camarauberlandia.mg.gov.br/@@vereadores/556182\",\n
        \                    \"@type\": \"Vereador\",\n                     \"description\":
        \"Celisvaldo da Silva \",\n                     \"id\": \"556182\",\n                     \"partido\":
        [\n                        {\n                           \"title\": \"DEMOCRACIA
        CRIST\xC3\",\n        [...]
