interactions:
- request:
    body: ''
    headers:
    method: GET
    uri: https://e-processos.camarauberlandia.mg.gov.br/@@materias?ano=2025
  response:
    body:
      string: "{\n  \"@id\": \"https://e-processos.camarauberlandia.mg.gov.br/@@materias\",\n
        \ \"@type\": \"Materias\",\n  \"description\": \"Lista de mat\xE9rias legislativas\",\n
        \ \"exemplo\": {\n    \"urlExemplo\": \"https://e-processos.camarauberlandia.mg.gov.br/@@materias?ano=2025&tipo=3\"\n
        \ },\n  \"filtros\": {\n    \"ano\": [\n      {\n        \"id\": \"2026\",\n
        \       \"title\": \"2026\"\n      },\n      {\n        \"id\": \"2025\",\n
        \       \"title\": \"2025\"\n      },\n      {\n        \"id\": \"2024\",\n
        \       \"title\": \"2024\"\n      },\n      {\n        \"id\": \"2023\",\n
        \       \"title\": \"2023\"\n      },\n      {\n        \"id\": \"2022\",\n
        \       \"title\": \"2022\"\n      },\n      {\n        \"id\": \"2021\",\n
        \       \"title\": \"2021\"\n      },\n      {\n        \"id\": \"2020\",\n
        \       \"title\": \"2020\"\n      },\n      {\n        \"id\": \"2019\",\n
        \       \"title\": \"2019\"\n      },\n      {\n        \"id\": \"2018\",\n
        \       \"title\": \"2018\"\n      },\n      {\n        \"id\": \"2017\",\n
        \       \"title\": \"2017\"\n      },\n      {\n        \"id\": \"2016\",\n
        \       \"title\": \"2016\"\n      },\n      {\n        \"id\": \"2015\",\n
        \       \"title\": \"2015\"\n      },\n      {\n        \"id\": \"2014\",\n
        \       \"title\": \"2014\"\n      },\n      {\n        \"id\": \"1\",\n        \"title\":
        \"1\"\n      }\n    ],\n    \"tipo\": [\n      {\n        \"id\": \"18\",\n
        \       \"title\": \"Den\xFAncia\"\n      },\n      {\n        \"id\": \"17\",\n
        \       \"title\": \"Emenda Impositiva\"\n      },\n      {\n        \"id\":
        \"7\",\n        \"title\": \"Indica\xE7\xE3o\"\n      },\n      {\n        \"id\":
        \"8\",\n        \"title\": \"Mo\xE7\xE3o\"\n      },\n      {\n        \"id\":
        \"9\",\n        \"title\": \"Pedido de Informa\xE7\xE3o\"\n      },\n      {\n
        \       \"id\": \"3\",\n        \"title\": \"Projeto de Decreto Legislativo\"\n
        \     },\n      {\n        \"id\": \"5\",\n        \"title\": \"Projeto de
        Lei Complementar\"\n      },\n      {\n        \"id\": \"1\",\n        \"title\":
        \"Projeto de Lei Ordin\xE1ria\"\n      },\n      {\n        \"id\": \"2\",\n
        \       \"title\": \"Projeto de Resolu\xE7\xE3o\"\n      },\n      {\n        \"id\":
        \"15\",\n        \"title\": \"Proposi\xE7\xE3o de Lei\"\n      },\n      {\n
        \       \"id\": \"16\",\n        \"title\": \"Proposi\xE7\xE3o de Lei Complementar\"\n
        \     },\n      {\n        \"id\": \"4\",\n        \"title\": \"Proposta de
        Emenda \xE0 Lei Org\xE2nica\"\n      },\n      {\n        \"id\": \"6\",\n
        \       \"title\": \"Requerimento\"\n      },\n      {\n        \"id\": \"12\",\n
        \       \"title\": \"Veto\"\n      }\n    ]\n  }\n}"
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
version: 1
