interactions:
- request:
    body: ''
    headers:
    method: GET
    uri: https://e-processos.camarauberlandia.mg.gov.br/@@mesas/7
  response:
    body:
      string: "{\n  \"@id\": \"https://e-processos.camarauberlandia.mg.gov.br/@@mesas/7\",\n
        \ \"@type\": \"Mesa\",\n  \"atual\": true,\n  \"description\": \"Composi\xE7\xE3o
        da mesa diretora\",\n  \"end\": \"2026-12-31\",\n  \"id\": \"7\",\n  \"items\":
        [\n    {\n      \"@id\": \"https://e-processos.camarauberlandia.mg.gov.br/@@vereadores/26097\",\n
        \     \"@type\": \"ParticipanteMesa\",\n      \"cargo\": \"Presidente\",\n
        \     \"description\": \"Rosenvaldo Correia de Mendon\xE7a\",\n      \"id\":
        \"26097\",\n      \"image\": [\n        {\n          \"content-type\": \"image/png\",\n
        \         \"download\": \"https://e-processos.camarauberlandia.mg.gov.br/sapl_documentos/parlamentar/fotos/26097_foto_parlamentar\",\n
        \         \"filename\": \"26097_foto_parlamentar\",\n          \"height\":
        \"350\",\n          \"size\": \"213974\",\n          \"width\": \"350\"\n
        \       }\n      ],\n      \"partido\": [\n        {\n          \"title\":
        \"PROGRESSISTAS\",\n          \"token\": \"PP\"\n        }\n      ],\n      \"title\":
        \"Zezinho Mendon\xE7a\",\n      \"url_foto\": \"https://e-processos.camarauberlandia.mg.gov.br/sapl_documentos/parlamentar/fotos/26097_foto_parlamentar\"\n
        \   },\n    {\n      \"@id\": \"https://e-processos.camarauberlandia.mg.gov.br/@@vereadores/526697\",\n
        \     \"@type\": \"ParticipanteMesa\",\n      \"cargo\": \"1\xBA Vice-Presidente\",\n
        \     \"description\": \"Ednaldo R\xE9gio de Lima\",\n      \"id\": \"526697\",\n
        \     \"image\": [\n        {\n          \"content-type\": \"image/png\",\n
        \[...]
