interactions:
- request:
    body: ''
    headers:
    method: GET
    uri: https://e-processos.camarauberlandia.mg.gov.br/@@mesas
  response:
    body:
      string: "{\n  \"@id\": \"https://e-processos.camarauberlandia.mg.gov.br/@@mesas\",\n
        \ \"@type\": \"Mesas\",\n  \"description\": \"Lista de per\xEDodos de composi\xE7\xE3o\",\n
        \ \"items\": [\n    {\n      \"@id\": \"https://e-processos.camarauberlandia.mg.gov.br/@@mesas/7\",\n
        \     \"@type\": \"Mesa\",\n      \"atual\": true,\n      \"description\":
        \"Per\xEDodo de composi\xE7\xE3o na 20\xAA Legislatura\",\n      \"end\":
        \"2026-12-31\",\n      \"id\": \"7\",\n      \"legislatura\": \"20\xAA Legislatura\",\n
        \     \"legislatura_id\": \"https://e-processos.camarauberlandia.mg.gov.br/@@legislaturas/20\",\n
        \     \"start\": \"2025-01-01\",\n      \"title\": \"01/01/2025 a 31/12/2026\"\n
        \   },\n    {\n      \"@id\": \"https://e-processos.camarauberlandia.mg.gov.br/@@mesas/6\",\n
        \     \"@type\": \"Mesa\",\n      \"atual\": false,\n      \"description\":
        \"Per\xEDodo de composi\xE7\xE3o na 19\xAA Legislatura\",\n      \"end\":
        \"2024-12-31\",\n      \"id\": \"6\",\n      \"legislatura\": \"19\xAA Legislatura\",\n
        \     \"legislatura_id\": \"https://e-processos.camarauberlandia.mg.gov.br/@@legislaturas/19\",\n[...]
