interactions:
- request:
    body: ''
    headers:
    method: GET
    uri: https://e-processos.camarauberlandia.mg.gov.br/@@vereadores
  response:
    body:
      string: "{\n  \"@id\": \"https://e-processos.camarauberlandia.mg.gov.br/@@vereadores\",\n
        \ \"@type\": \"Vereadores\",\n  \"description\": \"Lista de Vereadores em
        exerc\xEDcio\",\n  \"items\": [\n    {\n      \"@id\": \"https://e-processos.camarauberlandia.mg.gov.br/@@vereadores/546914\",\n
        \     \"@type\": \"Vereador\",\n      \"description\": \"Abatenio de Andrade
        Marquez Neto\",\n      \"dic_vereador\": \"546914\",\n      \"id\": \"546914\",\n
        \     \"image\": [\n        {\n          \"content-type\": \"image/png\",\n
        \         \"download\": \"https://e-processos.camarauberlandia.mg.gov.br/sapl_documentos/parlamentar/fotos/546914_foto_parlamentar\",\n
        \         \"filename\": \"546914_foto_parlamentar\",\n          \"height\":
        \"350\",\n          \"size\": \"221654\",\n          \"width\": \"350\"\n
        \       }\n      ],\n      \"partido\": [\n        {\n          \"title\":
        \"PROGRESSISTAS\",\n          \"token\": \"PP\"\n        }\n      ],\n      \"title\":
        \"Abatenio Marquez\",\n      \"url_foto\": \"https://e-processos.camarauberlandia.mg.gov.br/sapl_documentos/parlamentar/fotos/546914_foto_parlamentar\"\n
        \   },\n    {\n      \"@id\": \"https://e-processos.camarauberlandia.mg.gov.br/@@vereadores/25988\",\n
        \     \"@type\": \"Vereador\",\n      \"description\": \"Adriano Zago\",\n
        \     \"dic_vereador\": \"25988\",\n      \"id\": \"25988\",\n      \"image\":
        [\n        {\n          \"content-type\": \"image/png\",\n          \"download\":
        \"https:/[...]
