interactions:
- request:
    body: ''
    headers:
    method: GET
    uri: https://e-processos.camarauberlandia.mg.gov.br/@@legislaturas/20
  response:
    body:
      string: "{\n  \"@id\": \"https://e-processos.camarauberlandia.mg.gov.br/@@legislaturas/20\",\n
        \ \"@type\": \"Legislatura\",\n  \"data_eleicao\": \"2024-10-06\",\n  \"description\":
        \"01/01/2025 a 31/12/2028\",\n  \"end\": \"2028-12-31\",\n  \"id\": \"20\",\n
        \ \"items\": [\n    {\n      \"@id\": \"https://e-processos.camarauberlandia.mg.gov.br/@@vereadores/546914\",\n
        \     \"@type\": \"Vereador\",\n      \"cod_autor\": \"546914\",\n      \"description\":
        \"Abatenio de Andrade Marquez Neto\",\n      \"id\": \"546914\",\n      \"image\":
        [\n        {\n          \"content-type\": \"image/png\",\n          \"download\":
        \"https://e-processos.camarauberlandia.mg.gov.br/sapl_documentos/parlamentar/fotos/546914_foto_parlamentar\",\n
        \         \"filename\": \"546914_foto_parlamentar\",\n          \"height\":
        350,\n          \"size\": 221654,\n          \"width\": 350\n        }\n      ],\n
        \     \"mandato\": \"Titular\",\n      \"partido\": [\n        {\n          \"title\":
        \"PROGRESSISTAS\",\n          \"token\": \"PP\"\n        }\n      ],\n      \"title\":
        \"Abatenio Marquez\",\n      \"url_foto\": \"https://e-processos.camarauberlandia.mg.gov.br/sapl_documentos/parlamentar/fotos/546914_foto_parlamentar\",\n
        \     \"votos\": \"4541\"\n    },\n    {\n      \"@id\": \"https://e-processos.camarauberlandia.mg.gov.br/@@vereadores/25988\",\n
        \     \"@type\": \"Vereador\",\n      \"cod_autor\": \"25988\",\n      \"description\":
        \"Adriano Zago\",\n      \"id\": \"25988\",\n      \"image\": [\n        {\n
        \         \"content-type\": \"image/png\",\n          \"download\": \"https://e-processos.camarauberlandia.mg.gov.br/sapl_documentos/parlamentar/fotos/25988_foto_parlamentar\",\n
        \         [...]
