interactions:
- request:
    body: ''
    headers:
    method: GET
    uri: https://e-processos.camarauberlandia.mg.gov.br/@@legislaturas
  response:
    body:
      string: "{\n  \"@id\": \"https://e-processos.camarauberlandia.mg.gov.br/@@legislaturas\",\n
        \ \"@type\": \"Legislaturas\",\n  \"description\": \"Lista de legislaturas\",\n
        \ \"items\": [\n    {\n      \"@id\": \"https://e-processos.camarauberlandia.mg.gov.br/@@legislaturas/20\",\n
        \     \"@type\": \"Legislatura\",\n      \"atual\": true,\n      \"description\":
        \"01/01/2025 a 31/12/2028\",\n      \"id\": \"20\",\n      \"title\": \"20\xAA
        Legislatura\"\n    },\n    {\n      \"@id\": \"https://e-processos.camarauberlandia.mg.gov.br/@@legislaturas/19\",\n
        \     \"@type\": \"Legislatura\",\n      \"atual\": false,\n      \"description\":
        \"01/01/2021 a 31/12/2024\",\n      \"id\": \"19\",\n      \"title\": \"19\xAA
        Legislatura\"\n    },\n    {\n      \"@id\": \"https://e-processos.camarauberlandia.mg.gov.br/@@legislaturas/18\",\n
        \     \"@type\": \"Legislatura\",\n      \"atual\": fa[...]
