.vereador-outer {
  display: flex;
  height: 100%;
  @include eprocessos-surface(
    20px,
    14%,
    true,
    false,
    var(--eprocessos-secondary-color),
    var(--eprocessos-secondary-foreground-color)
  );
  color: inherit;
  text-decoration: none;

  .vereador-card {
    display: flex;
    width: 100%;
    height: 100%;
    flex: 1;
    flex-direction: column;
    align-items: center;
    padding: 1.25rem;

    .vereador-card-header {
      display: flex;
      width: 100%;
      flex-direction: column;
      align-items: center;
      justify-content: center;
    }

    .vereador-card-image {
      display: flex;
      align-items: center;
      justify-content: center;
    }

    .vereador-card-body {
      display: flex;
      width: 100%;
      height: 100%;
      flex-direction: column;
      align-items: center;
      justify-content: space-around;
      margin-top: 0.5rem;
      gap: 0.5rem;

      p,
      h3 {
        margin: 0;
        text-align: center;
        @include text-color-template(
          $foreground-color: var(--eprocessos-secondary-foreground-color),
          $hover: true,
          $hover-foreground-color: var(--eprocessos-link-color)
        );
      }

      .vereador-card-body-button {
        width: fit-content;
        @include eprocessos-action-button(
          30px,
          var(--eprocessos-color),
          var(--eprocessos-foreground-color)
        );
      }
    }
  }
}
