interactions:
- request:
    body: ''
    headers:
    method: GET
    uri: https://e-processos.camarauberlandia.mg.gov.br/@@normas?ano=2025
  response:
    body:
      string: "{\n  \"@id\": \"https://e-processos.camarauberlandia.mg.gov.br/@@normas\",\n
        \ \"@type\": \"Normas\",\n  \"description\": \"Lista de normas jur\xEDdicas\",\n
        \ \"exemplo\": {\n    \"urlExemplo\": \"https://e-processos.camarauberlandia.mg.gov.br/@@normas?ano=2026&tipo=8\"\n
        \ },\n  \"filtros\": {\n    \"ano\": [\n      {\n        \"id\": \"2026\",\n
        \       \"title\": \"2026\"\n      },\n      {\n        \"id\": \"2025\",\n
        \       \"title\": \"2025\"\n      },\n      {\n        \"id\": \"2024\",\n
        \       \"title\": \"2024\"\n      },\n      {\n        \"id\": \"2023\",\n
        \       \"title\": \"2023\"\n      },\n      {\n        \"id\": \"2022\",\n
        \       \"title\": \"2022\"\n      },\n      {\n        \"id\": \"2021\",\n
        \       \"title\": \"2021\"\n      },\n      {\n        \"id\": \"2020\",\n
        \       \"titl[...]
