interactions:
- request:
    body: ''
    headers:
    method: GET
    uri: https://e-processos.camarauberlandia.mg.gov.br/@@normas?ano=2025&tipo=1
  response:
    body:
      string: "{\n  \"@id\": \"https://e-processos.camarauberlandia.mg.gov.br/@@normas\",\n
        \ \"@type\": \"Normas\",\n  \"description\": \"Lista de normas jur\xEDdicas
        do ano de 2025\",\n  \"items\": [\n    {\n      \"@id\": \"https://e-processos.camarauberlandia.mg.gov.br/@@normas/18503\",\n
        \     \"@type\": \"Norma\",\n      \"data_apresentacao\": \"2025-09-19\",\n
        \     \"description\": \"DISP\xD5E SOBRE A EXONERA\xC7\xC3O E A NOMEA\xC7\xC3O
        QUE MENCIONA\",\n      \"id\": \"18503\",\n      \"title\": \"Portaria n\xBA
        439/2025\"\n    },\n    {\n      \"@id\": \"https://e-processos.camarauberlandia.mg.gov.br/@@normas/18504\",\n
        \     \"@type\": \"Norma\",\n      \"data_apresentacao\": \"2025-08-19\",\n
        \     \"description\": \"DISP\xD5E SOBRE A NOMEA\xC7\xC3O QUE MENCIONA\",\n
        \     \"id\": \"18504\",\n      \"title\": \"Portaria n\xBA 440/2025\"\n    },\n
        \   {\n      \"@id\": \"https://e-processos.camarauberlandia.mg.gov.br/@@normas/18502\",\n
       [...]
