.vereador-view {
  .sumario {
    margin-bottom: $spacing-large;
    .documentFirstHeading,
    .documentDescription {
      color: var(--eprocessos-foreground-color);
    }
    #card {
      display: flex;
      justify-items: center;
      @media only screen and (max-width: $largest-mobile-screen) {
        display: block;
        text-align: center;
      }

      .image {
        display: flex;
        align-content: center;
        @media only screen and (max-width: $largest-mobile-screen) {
          display: block;
          width: 100% !important;
        }
        img.portrait {
          width: 200px !important;
          height: 200px !important;
          border-radius: 50% !important;
          margin-right: 40px;
          object-fit: cover;
          @media (max-width: 768px) {
            margin: 0;
          }
        }
      }
      .dados {
        display: flex;
        width: 100% !important;
        align-items: center;
        color: var(--eprocessos-foreground-color);

        a {
          @include text-color-template(
            $foreground-color: var(--eprocessos-link-color),
            $hover: true,
            $hover-foreground-color: var(--eprocessos-color)
          );
        }
        @media (max-width: 768px) {
          justify-content: center;
        }
      }
    }
  }
}

@include generate-document-views('vereador-view');
